body
{
    padding-top: 70px;
}

.containers
{
    margin: 0 auto;
    width: 960px;
}

.left_block
{
    float: left;
    width: 330px;
    margin-right: 60px;
}

.left_block_information_title
{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    line-height: 1.3;
    color: #3CB371;
}

.left_block_information_content
{
    padding-top: 13px;
    padding-bottom: 40px;
    padding-left: 22px;
    font-family: 'Georgia';
    font-size: 19px;
    color: #696969;
    line-height: 1.895;
}

.right_block
{
    float: left;
    width: 560px;
}

.name
{
    margin-top: 132px;
    font-family: 'Open Sans';
    font-size: 48px;
    font-weight: bold;
}

.hobbys
{
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: normal;
    margin-top: 42px;
}

.text
{
    font-family: 'Georgia';
    font-size: 19px;
    line-height: 32px;
    margin-top: 40px;
}

.my_photo
{
    width: 330px;
    height: 370px;
}

.quote
{
    padding-top: 50px;
}

.cite
{
    margin-bottom: 0;
    color: darkgrey;
    font-size: 28px;
    font-family: 'Georgia';
    font-style: italic;
    line-height: 1.5;
}

.cite_autor
{
    margin: 0;
    padding-left: 42px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 42px;
}

.link
{
    color: #3CB371;
    font-family: 'Georgia';
}