body
{
    margin-top: 0;
    margin-left: 6px;
    height: 901px;
    width: 1900px;
}

.header_background
{
    position: relative;
    margin-top: -5px;
    margin-left: -3px;
    width: 1900px;
    height: 400px;
}

.menu
{
    display: inline-block;
}

.about_me
{
    color: rgb(51,51,51);
    padding: 10px;
    padding-left: 22px;
    padding-right: 24px;
    background-image: url(css_image/about_me_icon.png);
    background-position: 21px 17px;
    background-repeat: no-repeat;
}

.about_me:hover
{
    background-image: url(css_image/about_me_icon_hover.png);
    background-position: 21px 17px;
    background-repeat: no-repeat;
}

.about_me_text
{
    padding-left: 22px;
}

.top_menu_text
{
    color: rgb(51,51,51);
    padding: 10px;
    padding-left: 44px;
}

#top_menu_hobbys
{
    background-image: url(css_image/hobby_icon.png);
    background-position: 18px 18px;
    background-repeat: no-repeat;
}

#top_menu_hobbys:hover
{
    background-image: url(css_image/hobby_icon%20_hover.png);
    background-position: 18px 18px;
    background-repeat: no-repeat;
}

#top_menu_films
{
    background-image: url(css_image/video_icon.png);
    background-position: 31px 17px;
    background-repeat: no-repeat;
}

#top_menu_films:hover
{
    background-image: url(css_image/video_icon_hover.png);
    background-position: 31px 17px;
    background-repeat: no-repeat;
}

.about_me:hover,
.top_menu_text:hover
{
    color: rgb(245,245,245);
    background-color: #128b73;
}

.top_films_text
{
    padding-left: 13px;
}

.menu a
{
    float: left;
    margin-right: 0;
    text-decoration: none;
    font-size: 19px;
    line-height: 32px;
    font-family: "Georgia";
}

.menu_position
{
    width: 960px;
    margin: auto;
}

.content
{
    position: relative;
    margin-top: -194px;
}

.containers
{
    position: relative;
    margin: 0 auto;
    width: 960px;
}

.left_block
{
    float: left;
    width: 330px;
    margin-right: 60px;
}

.left_block_information_title
{
    margin-top: 18px;
    margin-bottom: 0;
    font-size: 24px;
    line-height: 32px;
    color: rgb(21,169,140);
    font-family: "Open Sans";
    font-weight: 600;
}

.left_block_information_content
{
    margin-top: 12px;
    padding-bottom: 24px;
    padding-left: 20px;
    font-family: 'Georgia';
    font-size: 19px;
    color: #696969;
    line-height: 1.895;
}

.right_block
{
    float: left;
    width: 560px;
}

.name
{
    margin-top: 18px;
    margin-bottom: 44px;
    font-size: 48px;
    line-height: 42px;
    color: rgb(51,51,51);
    font-family: "Open Sans";
    font-weight: bold;
}

.name:after
{
    margin-top: 29px;
    content: " ";
    display: block;
    background: url(css_image/greenblock.png);
    width: 60px;
    height: 6px;
}

.hobbys
{
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: normal;
    margin-top: 33px;
    margin-left: -2px;
    margin-bottom: -2px;
}

.text
{
    margin-top: 14px;
    margin-bottom: 0;
    width: 561px;
    height: 198px;
    font-size: 19px;
    line-height: 32px;
    color: rgb(85,85,85);
    font-family: "Georgia";
}

.my_photo
{
    width: 330px;
    height: 350px;
    margin-bottom: 22px;
}

.quote
{
    margin-left: 0;
    padding-bottom: 65px;
}

.cite
{
    margin-top: 24px;
    margin-left: 2px;
    margin-bottom: 2px;
    width: 566px;
    font-size: 28px;
    line-height: 42px;
    color: rgb(255,255,255);
    font-family: "Georgia";
    font-style: italic;;
}

.cite_autor
{
    margin: 0;
    padding-left: 6px;
    font-size: 16px;
    line-height: 42px;
    color: rgb(245,245,245);
    font-family: "Open Sans";
    font-weight: bold;
}

.top_link_text
{
    text-decoration: underline;
}

.link
{
    margin-top: 0;
    padding-bottom: 114px;
    font-size: 19px;
    line-height: 32px;
    color: rgb(9,141,114);
    font-family: "Georgia";
    text-decoration: none;
}

.my_hobbys
{
    margin-bottom: 3px;
}

.film_description
{
    float: left;
    margin-right: 20px;
}

.favorite_film
{
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(51, 51, 51);
    line-height: 42px;
    font-weight: 400;
    padding-top: 3px;
    margin-bottom: 32px;
}

.films
{
    background: #f9f9f9;
    height: 1042px;
    width: 1900px;
    padding-top: 3px;
    margin-top: 52px;
    padding-left: 350px;
}

.films img
{
    width: 285px;
    height: 190px;
    border-radius: 4px;
}

.films h4
{
    margin-top: 20px;
    margin-bottom: 19px;
    margin-left: 0;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    font-weight: bold;
}


.films p
{
    max-width: 270px;
    font-size: 16px;
    font-family: 'Georgia';
    color: rgb(85, 85, 85);
    line-height: 28px;
    font-weight: 400;
}

.film_link
{
    text-align: center;
    margin-right: 722px;
    margin-top: 43px;
}

.film_link a
{
    text-decoration: none;
    font-size: 19px;
    font-family: 'Georgia';
    color: white;
    line-height: 2;
}

.button
{
    padding: 14px 54px;
    background-color: rgb(21, 169, 140);
    border-radius: 5px;
}

.clear
{
    clear: both;
}

.feedback
{
    margin: 0 auto;
    width: 540px;
    margin-top: 47px;
    margin-left: 680px;
}

.feedback_title
{
    margin-left: 141px;
}

.feedback_title_text
{
    text-align: center;
    letter-spacing: -1px;
    font-size: 36px;
    line-height: 42px;
    color: rgb(51,51,51);
    font-family: "Open Sans";
    font-weight: 300;
}

.left_line
{
    border-bottom: 1px solid #3f3f3f;
    width: 198px;
    margin-top: -21px;
    margin-left: -225px;
}

.right_line
{
    border-bottom: 1px solid #3f3f3f;
    width: 198px;
    margin-left: 271px;
}

.visiter_information
{
    margin-top: 88px;
}

label
{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.6;
    font-weight: normal;
}

.feedback_block
{
    margin-top: -1px;
    margin-bottom: 25px;
    
}

.required_field
{
    margin-left: 5px;
    color: red;
}

.visiter
{
    margin-bottom: 2px;
}

.feedback_block_item
{
    font-size: 18px;
    line-height: 20px;
    color: rgb(51,51,51);
    font-family: "Open Sans", sans-serif;
    outline: inherit;
    border-radius: 3px;
    padding-left: 15px;
}

.feedback_block_message
{
    margin-top: 20px;
}

input[type=text],
input[type=email],
select,
textarea
{
    height: 45px;
    width: 518px;
    font-size: 20px;
    line-height: 32px;
    color: rgb(51,51,51);
    font-family: "Open Sans", sans-serif;
    border: 2px solid #c9c9c9;
}

input[type=text]:hover,
input[type=email]:hover,
select:hover,
textarea:hover
{
    border: 2px solid #a6a6a6;
}

input[type=text]:focus,
input[type=email]:focus,
select:focus,
textarea:focus
{
    border: 2px solid #15a98c;
}

select
{
    padding-left: 17px;
    margin-top: 2px;
    -webkit-appearance: none;
    background: url(css_image/arrow.png);
    background-repeat: no-repeat;
    background-position: 498px 19px;
    height: 50px;
    width: 540px;
}

select:hover,
input.feedback_block_item.radiobutton:hover,
.text_gender,
.feedback_button
{
    cursor: pointer;
}

.feedback_special_padding
{
    margin-top: 42px;
}

.feedback_special_padding p
{
    margin-bottom: 4px;
}

.gender
{
    margin-left: -4px;
    padding-bottom: 10px;
}

.text_gender
{
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
}

.text_gender women
{
    margin-left: 0;
    letter-spacing: -1px;
}

textarea
{
    margin-top: -17px;
    width: 520px;
    height: 142px;
}

.feedback_button
{
    width: 220px;
    height: 52px;
    border-radius: 5px;
    background-color: #15a98b;
    font-size: 19px;
    font-family: 'Georgia';
    color: white;
    line-height: 2;
    padding: 7px 61px;
    margin-top: 39px;
    margin-bottom: 47px;
}

.volgatech
{
    background: #f5f5f5;
    text-align: center;
    padding: 21px 0;
}

.bottom_text
{
    font-size: 16px;
    line-height: 32px;
    color: rgb(85,85,85);
    font-family: "Georgia";
    margin-left: -20px;
}